.booklister-spinner {
	display: block;
	width: 200px;
	margin: auto;
}

.select-cover {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.book-item-cover {
	height: 17rem;
	&-status {
		margin-bottom: 0;
	}
}

.remove-cover {
	margin-top: 0.25rem;
	&-controls:hover {
		cursor: pointer;
	}
}

input[type='checkbox'].form-control {
	width: auto;
}
